<h2 class="font">Itens do Pedido</h2>

<div>
    <textarea id="descricao" rows="5" cols="33" placeholder="Insira uma Descrição, por obséquio" [(ngModel)]="descricao"></textarea>
</div>
<div>
    <p class="font">Valor total = {{valorTotal()}}</p>
</div>
<div>
    <button class="button button5" type="submit" name="comprar" (click)="comprar()">Concluir Pedido</button>
</div>
<div *ngFor="let c of cart">
     {{c.produto.nome}}
     <input type="number" name="algumacoisa" [(ngModel)]="c.quantidade">
</div>
<div>
    <button class="button button5" type="submit" name="limparcarrinho" (click)="limparCarrinho()">Limpar Carrinho</button>
</div>