

<form autocomplete="off" #f="ngForm">
    <div>
        <h1>Login</h1>
    </div>
    
    <div>
        <input type="text" name="login" placeholder="inserir email" [(ngModel)]="loginn" required>
        <br>
        <input type="text" name="senha" placeholder="inserir senha" [(ngModel)]="senha" required>
    </div>
    
    <div>
        <button type="submit" label="login" (click)="login()" [routerLink]="['/home']">Login</button>
    </div>
    <div>
        <button type="submit" label="cadastro" [routerLink]="['/cadastro']">Registrar-se</button>
    </div>

</form>

<!-- (click)="login(login.value, senha.value)" -->