<div class="topnav">
    <label class="font">Detalhes do Pedido</label>
 
    <a class="font" href="">Sair</a>
    <a class="font" href="/listapedidos">Voltar</a>
</div>

<div class="main2">    
    <p>
        <label class="font">Código: </label>{{pedido.id}}
    </p>
    <p>
        <label class="font">Data de Emissão: </label>{{pedido.dataEmissao}}
    </p>
    <p>
        <label class="font">Descrição: </label> {{pedido.descricao}} 
    </p>
    <p>
        <label class="font">Valor: </label> {{valorTotal()}} 
    </p>
    <p>
        <label class="font">Status: </label> {{pedido.status}}
    </p>
    <div *ngFor="let item of pedido.items">
        <label class="font">Produto: </label> {{item.servicoProduto.nome}}
        <label class="font">Quantidade: </label> {{item.quantidade}}
        <label class="font">ValorUnidade: </label> {{item.servicoProduto.valorComercial}}
        <label class="font">Soma: </label> {{item.soma}}
    </div>
</div>