<div class="topnav">
    <label class="font">Detalhes do Pedido</label>
 
    <a class="font" href="">Sair</a>
    <a class="font" href="/listapedidos">Voltar</a>
</div>

<div class="main2">    
    <p>
        <label class="font">Código: </label>{{pedido.id}}
    </p>
    <p>
        <label class="font">Data de Emissão: </label>{{pedido.dataEmissao}}
    </p>
    <p>
        <label class="font">Valor: </label>Algum valor 
    </p>
    <p>
        <label class="font">Status: </label> {{pedido.status}}
    </p>
</div>