<h3>Registre-se</h3>
<div>
    <label for="nome">Nome</label>
    <input type="text" formControlName="nome"/>
</div>
<div>
    <label for="email">Email</label>
    <input type="text" formControlName="email"/>
</div>
<div>
    <label for="cpfcnpj">CPF/CNPJ</label>
    <input type="text" formControlName="cpfcnpj"/>
</div>
<div>
    <label for="login">Login</label>
    <input type="text" formControlName="login"/>
</div>
<div>
    <label for="senha">Senha</label>
    <input type="text" formControlName="senha"/>
</div>
<button>Registrar-se</button>
<button [routerLink]="['/login']">Login</button>
