<h2>Registrar-se</h2>
<span class="p-float-label">
    
    <input id="float-input" type="text" pInputText [(ngModel)]="value2" placeholder="Nome"> 
    
</span>

<br>

<span class="p-float-label">
    
    <input id="float-input" type="text" pInputText [(ngModel)]="value2" placeholder="CPF ou CNPJ"> 
    
</span>

<br>

<span class="p-float-label">
    
    <input id="float-input" type="text" pInputText [(ngModel)]="value2" placeholder="Telefone"> 
    
</span>

<br>

<span class="p-float-label">
    
    <input id="float-input" type="text" pInputText [(ngModel)]="value2" placeholder="Email"> 
    
</span>

<br>

<span class="p-float-label">
    
    <input type="text" id="float-input" type="text" pInputText [(ngModel)]="value2" placeholder="Login"> 
        
</span>

<br>

<p-password name="senha" [feedback]="true" [(ngModel)]="value3" [toggleMask]="true" placeholder="Senha"></p-password>

<br>
<br>

<p-button label="Cadstrar"></p-button>

<br>
<br>

<div class="p-field-checkbox">
    <p-checkbox [(ngModel)]="value" [binary]="true"></p-checkbox>
    <label>Concordo com os <a href="www.nossotermo.com">Termos de Uso</a></label>

</div>
    
