<div class="topnav">
    <label class="font">Página de Pedidos</label>

    <label class="font"> {{cliente.nome}} </label>
    <a class="font" href="">Sair</a>
    <a class="font" href="/listapedidos">Listar</a>
</div>

<div class="main">
    <h2 class="font">Produtos</h2>
    <div *ngFor="let p of listaProdutos, let i = index">
        <p>
            {{p.nome}}
        </p>
        <p>
            <label class="font">Tipo: </label>{{p.tipo}}
        </p>
        <p>
            <label class="font">Preço: </label>{{p.valorComercial}}
        </p>
        <p>
            <label class="font">Unidade de Medida: </label>{{p.unidadeMedida}}
        </p>
        <button class="button button5" type="submit" name="adicionarCarrinho" (click)="adicionarCarrinho(p)">Adicionar</button>
    </div>
</div>

<div class="menu">
    <app-servicos [cart]="cart"></app-servicos>

</div>